/* Style for body of application */
.body.Simple {
    text-align: center;
	max-width: 1080px;
	overflow-x : auto;
}

.body.Simple, 
.button-column {
	vertical-align: top;
	margin : 15px 5px;
}

.body.Simple .clear,
.body.Simple .parse {
    display:inline-block;
}

.body .clear {
    border-bottom: solid 2px #980000;
	background:#fd6e6e;
    width: 29%;
}

.body .parse {
    width: 69%;
	margin-top : 10px;
	margin-left : 2%;
}

/* Style for application header */
.application-header {
	margin-top:30px;
}

.application-header .links-container {
	float:right;
}

.application-header .links-container a:hover {
    border-bottom: solid 3px #898989;
}

.application-header .second-row > * {
	display: inline-block;
}

.button-column {
    height: 100%;
	width: 30px;
}

.button-column button {
	margin-bottom: 6px;
}

.playback {
	text-align:center; 
	margin-top:10px;
}

.playback .controls button:not(:last-child) {
    border-right-color: #eee;
}

/* Height and widths for containers and popups */
.popup .server-loader-widget {
	max-height : 350px;
}

body.Simple main .dropzone-container {
	width : 600px;
}

body.Simple main.view-load .simulation-container, 
body.Simple main:not(.view-load) .dropzone-container{
	display:none;
}

body.Simple main .simulation {
	display:inline-block;
    margin: 20px;
}

.tooltip .legend, 
.tooltip .legend rect {
	width:12px;
	height:2px;
}